<!DOCTYPE html>
<html>
	<head>
		<title>{{pageName}}</title>
	</head>
	<body>
		<ul>
			<li>
				<a href="/">Home Page</a>
			</li>
			<li>
				<a href="/about">About Us</a>
			</li>
			<li>
				<a href="/projects">Project Page</a>
			</li>
		</ul>